In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [/Users/celeniachapa/.wdm/drivers/chromedriver/mac64/93.0.4577.63/chromedriver] found in cache

## NASA Mars News

In [3]:
# URL of page to be scraped
url = 'https://redplanetscience.com/'
browser.visit(url)
html = browser.html

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

In [4]:
# Retrieve the parent divs for all articles
results = soup.find_all('div', class_='list_text')

# loop over results to get article data
for result in results:
    # scrape the article header 
    news_title = result.find('div', class_='content_title').text
    
    # scrape the article subheader
    news_p = result.find('div', class_='article_teaser_body').text
    
    # print article data
#     print('-----------------')
#     print(news_title)
#     print(news_p)

## JPL Mars Space Images - Featured Image

In [171]:
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [172]:
#finding the button
button = browser.find_by_tag('button')[1]

#click button
button.click()

html = browser.html

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

find_image = soup.find('img', class_="fancybox-image")

image_link = find_image.get('src')

spaceimages = 'https://spaceimages-mars.com/'

featured_image_url = spaceimages + image_link

print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars3.jpg

### Mars Facts

In [3]:
import pandas as pd
url = 'https://galaxyfacts-mars.com/'

In [5]:
table = pd.read_html(url)
print(type(table))
table

<class 'list'>

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [8]:
df = table[0]
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C